* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(90deg, rgb(255, 100, 100) 0%, rgb(100, 100, 255) 100%);
}

.headline h1 {
    font-family: 'Lobster', cursive;
    font-weight: normal;
    width: 100%;
    max-width: 541px;
    margin: 5px auto;
    color: #FFFFFF;
}

.container {
    background: #FFFFFF;
    width: 100%;
    max-width: 541px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px 15px;
}

#input {
    width: 100%;
    max-width: 342px;
    height: 40px;
    border: 2px solid rgba(209, 211, 212, 0.4);
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    padding: 11px 0 11px 5.5px;
}

#addButton {
    width: 100%;
    max-width: 130px;
    height: 40px;
    background: #8052EC;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 2px;
    float: right;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
}

#addButton:hover {
    opacity: 0.8;
}

#addButton:active {
    opacity: 0.6;
}

#tasks {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.list {
    background: #F2F2F2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 15px 40px 15px 40px;
    cursor: pointer;
    position: relative;
    margin-top: 12px;
    word-break: normal;
    text-align: justify;
}

.taskName {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.buttonTrash {
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    right: 14px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fa-trash:active {
    color: rgb(255, 100, 100);
}

.buttonCheck {
    border: none;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    left: 14px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fa-circle-check:active {
    color: rgb(100, 100, 255);
}

.list:hover .buttonTrash {
    opacity: 1;
}

.list:hover .buttonCheck {
    opacity: 1;
}

.complete {
    background: #D4F88D;
    text-decoration: line-through;
}

@media screen and (max-width: 540px) {
    .container-flex {
        display: flex;
    }
    #addButton {
        margin-left: 28px;
        padding: 0 10px;
    }
}